cluster_name           = "ocp"
base_domain            = "example.com"
cloud_region           = "la-south-2"
infrastructure_name    = "ocp-hw-dev"
rhcos_image_id         = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
bootstrap_ignition_url = "https://example.invalid/bootstrap.ign"
master_ignition_url    = "https://example.invalid/master.ign"
worker_ignition_url    = "https://example.invalid/worker.ign"
public_dns_zone_name   = "example.com"
public_dns_zone_id     = ""